source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 2.6.3
nuget NUnit.Runners 2.6.3
nuget Nuget.CommandLine
nuget FAKE

nuget IKVM
nuget FSharp.Management
nuget FsUnit 1.3.0.1

http http://www.frijters.net/ikvmbin-8.0.5449.1.zip
http http://www.maltparser.org/dist/maltparser-1.8.1.zip
http http://www.maltparser.org/mco/swedish_parser/swemalt-1.7.2.mco